/* Improve spacing and readability */
body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #f8f8f8;
  color: #333;
}

/* Center and improve navbar look */
.navbar {
  background-color: #313236;
  border-radius: 5px;
  max-width: 800px;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffffff;
}

/* Style the search form */
form[name="filterform"] {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

form label {
  font-weight: bold;
}

input#filterinput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

input#clearfilter {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

input#clearfilter:hover {
  background-color: #0056b3;
}

/* Style the list */
ul#mylist {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

ul#mylist li {
  background: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

ul#mylist li:hover {
  background-color: #f1f1f1;
}

/* Hide elements that don't match search */
ul#mylist li.hidden {
  display: none;
}

/* Optional: Alternate styling */
.alternate {
  background-color: #e8f0fe;
}

